* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif
}

.header {
    /* min-height: 100vh; */
    width: 100%;
    background-color: black;
    background-size: auto;
    position: relative;
}

.nav-contact a {
    color: white;
}

nav {
    display: flex;
    padding: 0 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
}

.nav-links {
    margin-left: 200px;
    flex: 1.5;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    text-align: center;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.nav-contact {
    flex: 1;
    text-align: right;
    color: #fff;
}

.nav-contact .fa-solid {
    font-size: 20px;
    margin: 20px;
}

.nav-links ul li::after,
.nav-contact .fa-solid::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: auto;
    transition: .5s;
    margin-top: 5px;
}

.nav-links ul li:hover::after,
.nav-contact .fa-solid:hover::after {
    width: 100%;
}

.textbox {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* line-height: 30px; */
}

.textbox h1 {
    margin-bottom: 40px;
    font-size: 62px;
}

.textbox p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
    line-height: 25px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
}

.hero-btn:hover {
    border: 1px solid #fff;
    background: #f44336;
    transition: 1s;
    color: #fff;

}

/* -------------------------------------------------- */
.body {
    background-color: black;
    color: #fff;
}

.body_info {
    margin-top: 10px;
    justify-content: space-around;
    display: flex;
    width: 85%;
    margin: auto;
    padding-top: 50px;
}

/* .body_info {
    background-color: #ccc;
} */

.body_info img {
    width: 40%;

}

.body_info-text {
    /* padding-top: 50px; */
    padding: auto;
    width: 45%;
}

.body_info-text li {
    font-size: 21px;
    line-height: 27px;
}

.body_info-text h3 {
    font-size: 40px;
    margin-bottom: 15px;
}


.No_dot {
    list-style: none;
}

.body_how_to_make {
    width: 85%;
    margin: auto;
    padding: 100px;
}

.body_how_to_make h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.body_how_to_make p {
    text-align: left;
    font-size: 20px;
}

.body_how_to_make_info {
    margin: auto;
    width: 95%;
}

.body_how_to_make_info p {
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.body_info-text p {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
}

hr {
    margin-top: 20px;
    margin-bottom: 15px;
}

.body_review {
    justify-content: space-between;
    display: flex;
    width: 85%;
    margin: auto;
    padding-top: 50px;
}

.body_review-reviwer h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.body_review-reviwer p {
    font-size: 20px;
}

.body_review-text {
    width: 45%;

}

.body_review-text .rating {
    display: flex;
}

.body_review-text h3 {
    font-size: 25px;
}

.body_review-text p {
    font-size: 20px;
    margin: 10px 0;
}

.fa-regular {
    display: block;
    color: #fff;
    margin: 2px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.fa-regular:hover {
    color: #f44336;
}

textarea {
    font-size: 18px;
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    border-radius: 2px;
}

.name_email {
    display: flex;
    margin-bottom: 15px;
}

.name_email div {
    width: 100%;
}

.name_email p {
    font-size: 20px;
    margin-bottom: 8x;
}

.name_email input {
    font-size: 14px;
    padding: 12px;
    width: 91%;
}

.name_email .email {
    margin-left: 20px;
}

.checkbox {
    display: flex;
}

.checkbox p {
    margin-left: 10px;
}

.hero-btn_sumbit {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.hero-btn_sumbit:hover {
    border: 1px solid #fff;
    background: #f44336;
    transition: 1s;
    color: #fff;
}





/* ---------------------------- */

.slide-container {
    /* max-width: 1120px; */
    width: 85%;
    padding: 40px 0;
}

.slide-container .title {
    margin-bottom: 50px;
    font-size: 32px;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #E5BF7F;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #e9a632;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.card-image {
    position: relative;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}


.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #e9a632;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    margin-top: 10px;
    font-size: 16px;
    color: #707070;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #D8A550;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #e9a632;
}

.swiper-navBtn {
    color: white;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #e9a632;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: white;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}

/* ------------------------footer------------------------ */
.footer {
    background-color: black;
    color: #fff;
}

.footer-text {
    width: 85%;
    margin: auto;
    padding-top: 130px;
    display: flex;

}

.footer-text-text {
    flex-basis: 31%;
    background-color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    padding: 10px;
}

.footer-text-video {
    flex-basis: 31%;
}

.footer-contact {
    margin-top: 20px;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.footer-contact-add {
    width: 45%;
    display: flex;
}

.footer-contact .contact {
    margin: 0 0 7px 0;
    font-size: 20px;
}

.footer-contact .text {
    margin-top: 5px;
}

.contact-col {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.contact-col input,
.contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.footer-contact-add div {
    margin-left: 10px;
}

.red-btn {
    font-size: 13px;
    width: 50%;
}

.follow-us {
    font-size: 25px;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    margin-top: -100px;
}

.follow-us div {
    margin: 0 20px 0 30px;
}

.follow-us div .fa-brands {
    margin-right: 20px;
    font-size: 30px;
}

.fa-facebook {
    padding: 0;
    outline: black;
    color: #3B5998;
    background-color: #fff;
    border-radius: 100%;
    border: 0;
}

.fa-instagram {
    color: #E4405F;
    /* background-color: #FFF; */
    /* border: 1px solid #833AB4; */
}

.fa-twitter {
    color: #1DA1F2;
}